.Table-sections{
    min-height: 100vh;
    background-color: var(--background-color);
}
table {
  width: 100%;
}
table, th, td {
  padding: 15px;
  text-align: left;
}

.index{
  text-align: center;
}

.green-index{
  background-color: rgb(100, 220, 100);
  color: white;
}

.yellow-index{
  background-color: rgb(220, 220, 100);
  color: white;
}

.red-index{
  background-color: rgb(250, 100, 100);
  color: white;
}

th, td{
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-decoration: none solid var(--dark-color);
  text-align: left;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;
  color: var(--dark-color);
} 

.grid-table {
  display: grid;
  grid-template-columns: auto auto auto; 
  gap: 20px; 
} 

.table__tr{
  background-color: var(--dark-background-color);
}

.table_tr2{
    background-color: rgb(69,69,69);
}
.img16{
    display: flex;
    align-items: center;
}
.table__footbal-text{
    color: var(--dark-color);
    padding: 30px 0px;
}
/* Добавляем стили для мобильных устройств */
@media screen and (max-width: 768px) {
    .table__common {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .table__common th,
    .table__common td {
      min-width: 100px; /* Минимальная ширина для ячейки */
    }
  }
  
  /* Остальные стили остаются неизменными */

  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    padding: 15px;
    text-align: left;
  }
  
  .table_tr2 {
    background-color: rgb(69, 69, 69);
  }
  
  .img16 {
    display: flex;
    align-items: center;
  }