@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --background-color: rgb(240, 240, 240);
  --dark-background-color: rgb(200, 200, 200);
  --dark-color: rgb(100, 100, 100);
  --blue-background-color: rgb(50, 50, 200);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.forms__sections {
  min-height: 100vh;
  background-color: var(--background-color);
  color: white;
}
.mysub{
  display: flex;
  flex-direction: column;
}
.tab{
  overflow: hidden;
  border-bottom: 1px solid #ccc; /* цвет границы вкладок */
  display: block !important;
  justify-content: start;
  align-items: center;
  color: black;
  background-color: var(--dark-background-color); /* цвет фона вкладок */
}

.tab button {
  background-color: var(--blue-background-color);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 10px;
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
}


.tab button:hover {
  background-color: #ddd; /* цвет фона при наведении на вкладку */
  color: black;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.personal-info {
  margin-top: 20px;
  background-color: var(--dark-background-color);
  padding: 20px;
  border-radius: 5px;
  color: black;
}

.profile__Sect{
  width: 50%;
  margin: auto;
  color: black;
}
/* profileStyles.css */

.logoutButton {
  background-color: var(--blue-background-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.change-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue-background-color);
  border-radius: 8px;
}

.change-password-form .form-group {
  margin-bottom: 20px;
}

.change-password-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.change-password-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.change-password-form .change-password-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-password-form .change-password-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.sub{
  
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
